.odd{
    background-color: light red/pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#baby{
    color: blue;
    font-size: 36px;
}
#babu{
    background-color: lightgreen;
    font: 24px;
    font-weight: bold;
}
.bubby{
    font-size: 24px;
}